WCF_Bingo/Prueba/Service References/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WCF_Bingo.Clases" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="getJugador">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="p_sNombreUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="p_iCantidadCartones" type="xs:int" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCF_Bingo.Clases" minOccurs="0" name="p_ListaCartones" nillable="true" type="q1:ArrayOfclsCarton" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getJugadorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCF_Bingo.Clases" minOccurs="0" name="getJugadorResult" nillable="true" type="q2:clsJugador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerarNumero">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="p_iNumeroTecho" type="xs:int" />
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="p_lista" nillable="true" type="q3:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerarNumeroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GenerarNumeroResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="YaExisteElJugador">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="p_sNombreJugador" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCF_Bingo.Clases" minOccurs="0" name="p_ListaJugadores" nillable="true" type="q4:ArrayOfclsJugador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="YaExisteElJugadorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="YaExisteElJugadorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>