WCF_Bingo/Prueba/Service References/ServiceReference1/WCF_Bingo.Clases.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_Bingo.Clases" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_Bingo.Clases" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfclsJugador">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clsJugador" nillable="true" type="tns:clsJugador" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclsJugador" nillable="true" type="tns:ArrayOfclsJugador" />
  <xs:complexType name="clsJugador">
    <xs:sequence>
      <xs:element minOccurs="0" name="ListaCartones" nillable="true" type="tns:ArrayOfclsCarton" />
      <xs:element minOccurs="0" name="NombreJugador" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsJugador" nillable="true" type="tns:clsJugador" />
  <xs:complexType name="ArrayOfclsCarton">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clsCarton" nillable="true" type="tns:clsCarton" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclsCarton" nillable="true" type="tns:ArrayOfclsCarton" />
  <xs:complexType name="clsCarton">
    <xs:sequence>
      <xs:element minOccurs="0" name="CantidadNumerosAJugar" type="xs:int" />
      <xs:element minOccurs="0" name="Columnas" nillable="true" type="tns:ArrayOfArrayOfclsCelda" />
      <xs:element minOccurs="0" name="NumeroAReducirParaGanar" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsCarton" nillable="true" type="tns:clsCarton" />
  <xs:complexType name="ArrayOfArrayOfclsCelda">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfclsCelda" nillable="true" type="tns:ArrayOfclsCelda" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArrayOfclsCelda" nillable="true" type="tns:ArrayOfArrayOfclsCelda" />
  <xs:complexType name="ArrayOfclsCelda">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clsCelda" nillable="true" type="tns:clsCelda" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclsCelda" nillable="true" type="tns:ArrayOfclsCelda" />
  <xs:complexType name="clsCelda">
    <xs:sequence>
      <xs:element minOccurs="0" name="AJugar" type="xs:boolean" />
      <xs:element minOccurs="0" name="Numero" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clsCelda" nillable="true" type="tns:clsCelda" />
</xs:schema>