WCF_Bingo/UI_Bingo/Service References/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WCF_Bingo.Clases" />
  <xs:element name="getJugador">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="p_sNombreUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="p_iCantidadCartones" type="xs:int" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCF_Bingo.Clases" minOccurs="0" name="p_ListaCartones" nillable="true" type="q1:ArrayOfclsCarton" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getJugadorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCF_Bingo.Clases" minOccurs="0" name="getJugadorResult" nillable="true" type="q2:clsJugador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>